<div class="su-homepage-search su-site-search search-results search-results-page" role="search">
  <form class="su-homepage-search__form" action="/search" method="get">
    <h2 class="su-homepage-search__label">
      <label for="search-results-key">What can I help you track down?</label>
    </h2>
    <div class="su-homepage-search_input-wrapper">
      <input type="text" id="search-results-key" name="key" class="su-homepage-search__input" placeholder="Search" maxlength="128">
      <button type="submit" name="search" class="su-homepage-search__submit">
        <span class="sr-only">Submit Search</span>
        {{ source(directory ~ '/src/assets/svg/icon_search_white.svg') }}
      </button>
    </div>
  </form>
  <nav aria-label="Related resources" class="su-homepage-search__resources">
    <ul>
      <li>
        <a href="https://cardinalengage.stanford.edu/club_signup" class="ose-button">Find an Org</a>
      </li>
      <li>
        <a href="/student-orgs/funding" class="ose-button">Funding</a>
      </li>
      <li>
        <a href="/student-orgs/event-planning/work-orders" class="ose-button">Work Orders</a>
      </li>
      <li>
        <a href="/student-orgs/event-planning/event-types/events" class="ose-button">Event Registration</a>
      </li>
      <li>
        <a href="https://cardinalengage.stanford.edu/home_login" class="ose-button">CardinalEngage Platform</a>
      </li>
      <li>
        <a href="/student-orgs/event-planning/event-types" class="ose-button">Event Types</a>
      </li>
    </ul>
  </nav>
  <div class="ose-contact-us">
    <p><em><a href="/contact">Contact us</a> if you need help.</em></p>
  </div>
</div>