<div class="su-homepage-search su-site-search search-results search-results-page" role="search">
  <form class="su-homepage-search__form" action="/search" method="get">
    <label class="su-homepage-search__label" for="search-results-key">What can I help you track down?</label>
    <div class="su-homepage-search_input-wrapper">
      <input type="text" id="search-results-key" name="key" class="su-homepage-search__input" placeholder="Search" maxlength="128">
      <button type="submit" name="search" class="su-homepage-search__submit">
        <span class="sr-only">Submit Search</span>
        {{ source(directory ~ '/src/assets/svg/icon_search_white.svg') }}
      </button>
    </div>
  </form>
  <nav aria-label="Related resources" class="su-homepage-search__resources">
    <ul>
      <li>
        <a href="/student-organization-resources/event-planning" class="ose-button">Event Planning</a>
      </li>
      <li>
        <a href="/student-organization-resources/fundraising" class="ose-button">Fundraising</a>
      </li>
      <li>
        <a href="/student-organization-resources/vso-leaders/vso-annual-registration" class="ose-button">Re-registration</a>
      </li>
      <li>
        <a href="/about/cardinal-nights" class="ose-button">Cardinal Nights</a>
      </li>
      <li>
        <a href="/get-involved/programs" class="ose-button">Programs</a>
      </li>
      <li>
        <a href="/student-organization-resources/start-new-student-organization" class="ose-button">Start a New Student Org</a>
      </li>
    </ul>
  </nav>
  <div class="ose-contact-us">
    <p><a href="mailto:studentengagement@stanford.edu">Contact us</a> if you need help.</p>
  </div>
</div>