{#
/**
 * @file
 * Main Page Template.
 *
 * Available variables:
 * - page: The content regions for this page.
 * - attributes: HTML attributes for the region div.
 *
 * @see template_preprocess_page()
 */
#}

{% extends "page.html.twig" %}

{# Main Page Content Section #}
  {%- block block_main -%}
    <h1 class='visually-hidden'>
     {{ site_name }}
    </h1>
    {% include 'form--search.html.twig' %}
    {{ page.content }}
  {%- endblock -%}